<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.love.dao.DetailDAO" >

    <select id="selectAll" resultType="com.love.model.Detail">
        select  *  from details
    </select>

    <select id="selectById" parameterType="Integer" resultType="com.love.model.Detail">
        select  d.id,d.projectid,p.remark as projectname, d.inorout,d.amount,d.remark,d.time  from details d ,projects p
        WHERE d.projectid =#{id} and d.projectid = p.id
    </select>

    <insert id="insert" parameterType="com.love.model.Detail" >
        INSERT INTO details (projectid,inorout,amount,remark) VALUES ( #{projectId},#{inorout},#{amount},#{remark})
    </insert>

</mapper>
